<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">ROL</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/home">
                                <i class="fa fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Rol</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h2><strong>Listado de Roles</strong></h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <form>
                                        <div class="form-row align-items-center">
                                            <div class="col-auto">
                                                <input type="text" maxlength="20" class="form-control mb-2" (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                                            </div>
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-primary mb-2">Buscar <i class="fa fa-search"></i></button>
                                            </div>
                                            <div class="col-auto">
                                                <button (click)="open(content)" class="btn btn-primary mb-2">Agregar <i class="fa fa-plus"></i>
                                              </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table id="tbl-ListaRoles" class="table table-bordered" style="width:100%">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Sigla</th>
                                                <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of listaRoles | paginate: { itemsPerPage: 7, currentPage: page }">
                                                <td>{{ item.rolcod }}</td>
                                                <td>{{ item.rolnom }}</td>
                                                <td>{{ item.rolsig }}</td>
                                                <td><span class="badge" [ngClass]="{'badge-success': item.estreg == '1', 'badge-danger': item.estreg == '0' }">{{ item.estreg == '1' ? 'ACTIVO' : 'INACTIVO' }}</span></td>
                                                <td>
                                                    <button class="btn btn-sm btn-link" (click)="open(content, item)"><i class="fa fa-pencil"></i></button>
                                                    <button class="btn btn-sm btn-link" (click)="elimnar(item)"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" aria-label="Default pagination"></ngb-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Rol</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (submit)="registrar()" novalidate>
                    <label>Nombre</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" maxlength="50" class="form-control" [ngClass]="{'is-valid': form.get('rolnom').valid, 'is-invalid': form.get('rolnom').invalid }" formControlName="rolnom" placeholder="Nombre" name="rolnom">
                            <div class="invalid-feedback">
                                Ingrese el nombre.
                            </div>
                        </div>
                    </div>
                    <label>Descripción</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" maxlength="100" class="form-control" [ngClass]="{'is-valid': form.get('roldes').valid, 'is-invalid': form.get('roldes').invalid }" formControlName="roldes" placeholder="Descripción" name="roldes">
                            <div class="invalid-feedback">
                                Ingrese la descripción.
                            </div>
                        </div>
                    </div>
                    <label>Sigla</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" maxlength="20" class class="form-control" [ngClass]="{'is-valid': form.get('rolsig').valid, 'is-invalid': form.get('rolsig').invalid }" formControlName="rolsig" placeholder="Sigla" name="rolsig">
                            <div class="invalid-feedback">
                                Ingrese la sigla.
                            </div>
                        </div>
                    </div>
                    <label>Estado</label>
                    <div class="form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" formControlName="estreg" name="estreg" [value]="1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">Activo</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" formControlName="estreg" name="estreg" [value]="0" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Inactivo</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">
                          <i class="fa fa-save"></i>
                          Grabar</button>
                    <button type="button" class="btn btn-danger waves-effect" (click)="c('Close click')">Cancel</button>
                </form>
            </div>
            <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
              </div> -->
        </ng-template>
    </div>
</section>