<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;
            <span>Home</span>
        </a>
        <a *ngFor="let item of menus" [routerLink]="item.menrut" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="{{ 'fa fa-fw ' + item.menico }}"></i>&nbsp;
            <span>{{ item.mennom }}</span>
        </a>
        <!-- <a routerLink="/sistema" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>Sistema</span>
        </a>
        <a routerLink="/menu" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>Menu</span>
        </a>
        <a routerLink="/funcionalidad" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>Funcionalidad</span>
        </a>
        <a routerLink="/rol" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-user-md"></i>&nbsp;
            <span>Rol</span>
        </a>
        <a routerLink="/rol-men" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-exchange"></i>&nbsp;
            <span>Asignar Menu - Rol</span>
        </a>
        <a routerLink="/rol-funcionalidad" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-exchange"></i>&nbsp;
            <span>Asignar Func. - Rol</span>
        </a>
        <a routerLink="/usuario" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;
            <span>Usuario</span>
        </a>
        <a routerLink="/sis-usuario" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list-alt"></i>&nbsp;
            <span>Sistema - Usuario</span>
        </a>
        <a routerLink="/reporte" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>Reporte</span>
        </a> -->
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>